/*global*/
*{
  margin: 0
  padding: 0;
}/*seletor universal*/

body{
  background-color: rgb(143, 225, 143);
  font-family: 'roboto',sans-serif;
}

ul{
  list-style: none;
}

/*FONTS*/
  h1, h2, h4, .price {
    font-family: 'roboto-serif', serif;
    text-transform: uppercase;
  }

header{
  padding: 32px 0;
  text-align: center;
}
header,
section{
  max-width: 300px;
  margin: 0 auto;
}

header h2 span{
 color: #51ae75;
}
section {
  margin-bottom: 24px;
}

div h4 {
  color: #fefa06;
}

section h2 {
background-color: #d7bc9e;/*cor HEXAdecimal*/
padding: 8px 16px;
text-align: center;

margin-bottom: 24px;
font-size: 18px;
}

/*lista*/
ul li {
  margin-bottom: 16px;
  display: flex;
}
li .details {
  max-width: 240px;
}
 h3 .details  {
  margin-bottom: 8px;
  font-size: 16px;
  }

p .details {
font-size: 14px;
line-height: 21px;
}